#my_btn{
   font-size: 20px;
}


thead{
    font-weight:bold;
}

.top-text {
    text-align: center;
    color:white;
    background-color:lightgray;
}

.top-text a{
    text-decoration:none;
    color:white;
}
.text{
    text-align:center;
}
.btn-go{
    font-size:12px;
}

.modal-body{
     font-weight: bold;
    text-align:center;

  }
p{
    font-weight: lighter;
    text-align:left;
}


#myModal a{
    text-align: center;
}

.text a{
    height:50px;
    font-size: 20px;
}

.test{
    float: left;
    color: rebeccapurple;
}

.back a{
    background-color:lightgray;
    height: 100px;
    
}

.install-btn a{
    height: 70px;
    width: 200px;
    text-align:center;
    font-size:35px;
}

.install-btn{
    text-align:center;
}

.btn-back{
    float:left;
}

.main-btns 

form{
    text-align: center;
}

.to-start{
    margin-top: 200px;
    padding-left: 20px;
}

.action-btn{
    float:right;
    margin-left:10px;
}

.docForm{
    float:left;
}

.modal-footer{
    margin-top:100px;
}